*{
	box-sizing: border-box;
}

body {
	margin:0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    top: 0;
    box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    height: 68px;
    position: fixed;
    z-index: 1;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

a.logo_main {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #343434;
    text-decoration: none;
    padding-top: 7px;
    flex-grow: 1;
}

nav {
	flex-grow: 2;
	margin-top: 7px;
}

.main_nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 170px;
}

li {
	list-style: none;
}

li a {
	font-size: 13px;
	text-decoration: none;
	color: #656565;
	transition: 0.3s ease-in;
}

li a:hover {
	color:#0099ff;
}

li.selected a {
	color:#0099ff;
}

button.mobile_nav {
    display: none;
}

.cover {
    background: url(img/intro1.png) no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;
    z-index: 0;
    background-attachment: fixed;
}
.cover_overlay {
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;

}

.cover_txt {
    width: 50%;
    margin: 0 auto;
    padding-top: 220px;
}

h3 {
	color: #fff;
	font-size: 36px;
	text-align:center;
}

p {
    color: #fff;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    line-height: 22px;
    text-align: center;
}

.learn {
    display: flex;
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 50%;
}

button.learn_more {
    padding: 10px 30px;
    color: #fff;
    background: #0099ff;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease-in;
}

button.learn_more:hover {
    color: #0099ff;
    background: #fff;
}

span {
    color: #fff;
    font-weight: bold;
}

i.fa.fa-play {
    color: #0099ff;
    border-radfius: 50%;
    border: 1px solid #fff;
    padding: 11px 5px 0 9px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
    transition: 0.3s ease-in;
}

i.fa.fa-play:hover {
	color: #0099ff;
    background: #fff;
}

.about {
    margin: 0;
    padding: 50px 0px 0px 0px;
    text-align: center;
    background: #fff;
}

.inner_wrapper {
    width: 80%;
    margin: 0 auto;
}

h6 {
    font-size: 14px;
    font-weight: 400;
    color: #a2a2a2;
    padding-bottom: 5px;
    margin: 0;
}

h4 {
    font-size: 32px;
    color: #585858;
    font-weight: 500;
    margin: 10px;
}

.inner_wrapper p{
    color: #585858;
    padding: 30px 0px;
    width: 60%;
    margin: 0 auto;
    font-size: 14px;
}

.row_about,
.row_services,
.row_projects,
.row_counter,
.row_team,
.row_price,
.row_news,
.row_footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 40px 0px;
}

.item_about {
    width: 25%;
    padding: 1%;
}

i.fa.fa-mobile {
    font-size: 50px;
    color: #0099ff;
}

p.title {
    margin: 10px auto;
    padding: 10px 0;
    font-weight: 500;
    font-size: 19px;
    color:#585858;
}

p.content {
    width: 100%;
    margin: 0;
    padding: 0px 30px 31px;
    line-height: 1.7;
    font-size: 15px;
    color:#585858;
}

section#services,
section#team,
section#pricing,
section#contact {
    background: #F8F8F8;
    margin: 0;
    padding: 50px 0px 0px 0px;
    text-align: center;
}

span.fa.fa-database,
span.fa.fa-picture-o,
span.fa.fa-user-circle-o,
span.fa.fa-flask,
span.fa.fa-usd,
span.fa.fa-globe,
span.fa.fa-comments-o {
    color: #0099ff;
    font-size: 30px;
    margin-bottom: 20px;
}

.row_services,
.row_team,
.row_price,
.row_footer {
	width: 80%;
	margin: 0 auto;
}

.item_services, 
.item_team,
.item_price {
    background: #fff;
    margin-top: 28px;
    width: 31%;
    border: 1px solid #f4f3f3;
    box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0);
    -o-box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
}

.item_services:hover,
.item_team:hover,
.item_price:hover {
    
    box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.06);
    -o-box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.06);
}

i.fa.fa-pencil-square-o {
    font-size: 40px;
    padding: 30px 0 0 0;
    color: #585858;
}

.blue p.title,
.blue i.fa.fa-pencil-square-o {
	color:#585858;
	transition: all 0.3s ease-in-out;
}


.blue:hover > .title,
.blue:hover > i.fa.fa-pencil-square-o {
 color: #0099ff!important;
}

section#projects,
section#skills,
section#news {
    background: #FFF;
    margin: 0;
    padding: 50px 0 0px 0px;
    text-align: center;
}

ul.work_list {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
    width: 50%;
}

a {
    text-decoration: none;
    color: #9d9d9d;
    padding-top: 20px;
    font-size: 15px;
    font-weight: 500;
}

.row_projects,
.row_news {
	width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.item_projects {
    width: 380px;
    flex-grow: 1;
    border: 2px solid #fff;
    position: relative;
    margin: 0;
    padding: 0;
}

img {
    text-align: center;
    width: 100%;
    height: 100%;
}

.overlay_project {
    position: absolute;
    opacity: 0;
    padding: 0;
    margin: 0;
    top: 130px;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0, .8);
     -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-align: center;
}

.overlay_project:hover {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    bottom: 0;
    top: 0;
}

.overlay_txt h5 {
    margin: 50px auto 0px;
    padding: 44px 0 0px;
    font-weight: 500;
    font-size: 19px;
    color:#0099ff;
}

.overlay_project:hover.overlay_txt {
    margin-top: 20%;
    transition: all 0.4s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.counter {
	background: url('img/bg2.png') no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 300px;
	width: 100%;
}

.row_counter {
    margin: 0 auto;
    width: 80%;
    padding: 35px 0 ;
}

i.fa.fa-desktop {
    color: #ddd;
    font-size: 50px;
    padding-top: 30px;
}

.counter_box h4 {
    font-size: 40px;
    color: #fff;
}

.item_team {
	padding: 30px;
}

.item_team img {
	width: 40%;
	height: auto;
	border-radius: 6px;
}

h5 {
	margin: 10px auto;
    padding: 10px 0;
    font-weight: 500;
    font-size: 19px;
    color:#585858;
}

p.content_team {
    color: #585858;
    width: 90%;
    margin: 0 auto;
    padding: 15px 0 20px 0;
    font-size: 14px;
}

.social_team {
    display: flex;
    flex-flow: row wrap;
    width: 55%;
    margin: 0 auto;
    justify-content: space-around;
}

i.fa.fa-twitter,
i.fa.fa-facebook,
i.fa.fa-google-plus,
i.fa.fa-linkedin {
    width: 35px;
    height: 35px;
    color: #fff;
    border-radius: 4px;
    line-height: 34px;
    transition: 0.3s ease-in-out;
    opacity: 1;
}

i.fa.fa-twitter {
	background: #00aced;
}

i.fa.fa-facebook {
	background: #3b5998;
}
i.fa.fa-google-plus {
	background: #dd4b39;
}
i.fa.fa-linkedin {
	background: #007bb6;
}

i.fa.fa-twitter:hover,
i.fa.fa-facebook:hover,
i.fa.fa-google-plus:hover,
i.fa.fa-linkedin:hover {
    opacity: 0.8;
}

.content_skills {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 45px auto;
}

.skills_left,
.skills_right {
    width: 50%;
    text-align: left;
}

.skills_left h4{
    margin: 0;
    padding: 20px 0 16px 0;
    font-size: 22px;
}

.skills_left p{
    color: #585858;
    font-size: 14px;
    line-height: 1.8;
    text-align: left;
    width: 80%;
	
}

#progressbar {
	height: 5px;
	background-color: #f5f5f5;
	border-radius: 5px;
	margin-bottom: 25px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

#progressbar > div {
    width: 64%; 
    height: 100%;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    background-color: #0099ff;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.progress_label {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

span.label_name {
    color: #646464;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.9;
}

span.label_value {
    color: #0099ff;
}

.counter_bigger {
	background: url('img/bg2.png') no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 400px;
	width: 100%;
}


i.fa.fa-quote-right {
    color: #ddd;
    font-size: 35px;
    padding-top: 50px;
}

img.quote {
    width: 6%;
    border-radius: 6px;
    margin-bottom: 20px;
}

.counter_content p {
    width: 50%;
    margin: 0 auto;
    padding: 30px 0;
}

.counter_content h6 {
    font-size: 16px;
    font-weight: 500;
    color: #a2a2a2;
    padding-bottom: 5px;
    margin: 0;
}

.stars {
    color: #dda219;
}

.item_price {
	padding-bottom: 30px;
}

.item_price h6 {
    padding: 40px 0 20px 0;
    font-weight: 600;
}

sup {
    font-size: 27px;
}

.price_value {
    font-size: 56px;
    padding: 25px 0 20px;
    color: #585858;
    font-weight: normal;
}

.price_period {
    padding: 10px 0;
    color: #000000;
    border-bottom: 1px solid #e1e1e1;
    width: 80%;
    margin: 0 auto;
}

ul.price_list {
    margin: 0 auto;
    padding: 20px 0;
    line-height: 2.5;
}

ul.price_list li {
    font-size: 13px;
    color: #999;
}

button.second {
    padding: 10px 30px;
    color: #fff;
    background: #0099ff;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease-in;
}

button.second:hover {
    background: #333;
}

.selected {
    color: #0099ff;
}

/*
.blue p.title,
.blue i.fa.fa-pencil-square-o {
	color:#585858;
	transition: all 0.3s ease-in-out;
}


.blue:hover > .title,
.blue:hover > i.fa.fa-pencil-square-o {
 color: #0099ff!important;
}
*/

.item_news {
    background-color: #f8f8f8;
    border: 1px solid rgba(238, 238, 238, 0.5);
    text-align: center;
    padding: 0px 0 30px 0;
    margin-top: 30px;
    width: 30%;
    box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0);
    -o-box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.item_news:hover {
    box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.1);
}

.news_img {
	overflow: hidden;
	height: 53%;
}

.news_img img {
	width: 100%;
	height: auto;
	transition: all 0.3s ease-in-out;
}


.news_img  img:hover { 
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.contact_form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 50%;
    margin: 40px auto;
}

.form_row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px;
}

.form_group {
    display: flex;
    flex-flow: row;
    width: 49%;
    justify-content: space-between;
}

i.fa.fa-user-o,
i.fa.fa-envelope-o {

    min-height: 40px;
    width: 40px;
    line-height: 2.1;
    border: 1px solid rgba(238, 238, 238, 0.65);
    border-right: none;
}

.form_group span {
	background: #fff;
	color: #ddd;

}

input.form-control {
    background: #fff;
    border: 1px solid rgba(238, 238, 238, 0.65);
    min-height: 40px;
    box-shadow: 0 0 0;
    width: 100%;
    border-left: none;
    outline: none;
}

textarea.form-control {
    background: #fff;
    border: 1px solid rgba(238, 238, 238, 0.65);
    min-height: 150px;
    box-shadow: 0 0 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    outline: none;
}

.submit_btn {
    display: block;
    width: 100%;
    text-align: center;
    max-width: 250px;
    margin: 24px auto;
    background-color: #0099ff;
    color: #e7e7e7;
    outline: none;
    border: none;
    padding: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.submit_btn:hover {
    background-color: #333;
}

.counter_box {
    margin-bottom: 20px;
}

i.fa.fa-map-o {
    font-size: 35px;
    color: #0099ff;
}

.counter_box h5 {
	margin: 0;
	padding: 10px 0;
}

.address  {
    color: #585858;
    margin: 0;
    font-size: 15px;
}

#map {
    border-top: solid 1px #e8e8e8;
    border-bottom: solid 1px #e8e8e8;
    width: 100%;
    height: 350px;
}

footer {
	background-color: #222328;
	margin: 0;
	padding: 0;
}

h1.footer_logo {
	color:#fff;
	margin: 0;
    padding: 0;
    text-align: left;
}

.row_footer p {
    text-align: left;
    font-size: 15px;
    padding-right: 80px;
}

.footer_item.bigger {
    width: 40%;
}

.footer_item {
    width: 20%;
}

.social_footer {
    display: flex;
    flex-flow: row wrap;
    width: 40%;
    margin:0; 
    justify-content: space-between;
}

.footer_item h5 {
    font-size: 16px;
    color: #fff;
    text-align: left;
    margin: 0;
}

.footer_item ul {
	padding: 0;
}

.footer_item ul li {
	text-align: left;
}


.footer_item ul li a {
	text-align:left;
	font-size: 14px;
	line-height: 1.9;
}

a.mail{
    color: #337ab7;
    text-decoration: none;
}

.mail a:hover{
    color: #23527c;
}

.footer_author {
    width: 100%;
    background-color: #1d1e20;
    padding: 15px 0 10px;
    margin: 0 auto;
}

.footer_author p {
	color: #999;
	font-size: 13px;
	margin:0;
	padding: 0;
}

@media screen and (max-width:1200px) {


}

@media screen and (max-width:768px) {

.wrapper{
	width: 95%;
}

a.logo_main {
	padding-top: 16px;
	flex-grow: 44;
}


button.mobile_nav {
    border: none;
    outline: none;
    width: 35px;
    height: 35px;
    border: solid 2px #1299d5;
    border-radius: 3px;
    padding: 1px;
    margin-top: 13px;
    position: relative;
    float: right;
    display: block;
    background: none;
}

button.mobile_nav a {
text-decoration:none;
}

ul.main_nav {
	display: none;
}

.cover_txt {
    width: 100%;
    margin: 0 auto;
    padding-top: 160px;
}

h3 {
	font-size: 27px;
}

p {
    width: 90%;
    font-size: 13px;
	margin: 0 auto;
}

.learn {
	width: 80%;
}

button.learn_more {
    padding: 8px 20px;
    font-size: 14px;
}

span {
	padding-top: 20px;
	font-size: 15px;
}

h6 {
    font-size: 13px;
}

h4 {
    font-size: 23px;
}

.inner_wrapper p {
    width: 95%;
    font-size: 13px;
    line-height: 2;
}

.item_about,
.item_services,
.item_team,
.item_price,
.item_news {
    width: 100%;

}

p.title {
    font-size: 15px;
    padding: 0;
    font-weight: 600;
}

p.content {
    margin: 0 auto;
    padding: 0px 10px 30px;
    font-size: 13px;
}

ul.work_list {
    width: 100%;
    padding: 10px 0;
}

.row_projects, 
.row_news,
.row_price {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.overlay_txt h5 {
    margin: 20px auto 0px;
}

.counter {
    height: auto;
    width: 100%;
}

.row_counter,
.row_team,
.row_footer {
    width: 90%;
    padding: 15px 0;
}

.counter_box {
    width: 100%;
}

.content_skills {
    width: 90%;
}

.skills_left, .skills_right,
.contact_form {
    width: 100%;

}

.skills_left p {
    font-size: 13px;
    line-height: 2;
    text-align: left;
    width: 100%;
}

.counter_bigger {
    height: auto;
}

.counter_content {
    padding-bottom: 20px;
}

.counter_content p {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
}

img.quote {
	width: 20%;
}

.news_img {
    height: auto;
}

button.second {
    padding: 10px 25px;
    font-size: 14px;
}

.contact_form {
	margin: 40px auto 0;
}

.form_row {
    padding: 0 10px 10px 10px;
}

.form_group {
    width: 100%;
    padding-top: 10px;
}

.form_group span {
	padding: 0;
}

.contact_short {
    padding-bottom: 25px;
}

.counter_box {
    width: 50%;
    padding-top: 30px;
}

.counter_box p {
	padding: 0;
	margin: 0 auto;
}

.row_footer {
	padding: 30px 0;
}


.footer_item.bigger {
    width: 100%;
}

.row_footer p {
    font-size: 13px;
    line-height: 2;
    padding-right: 0;
    width: 100%;
    padding-bottom: 10px;
}

.social_footer {
    width: 70%;
}
.footer_item {
    width: 100%;
    padding-top: 20px;
}

.footer_author p {
    font-size: 12px;
    margin: 0 auto;
    padding: 0;
}

}